@media (max-width:880px) {
    .landview1c{
        height: 100vh;
        display: flex;
    }
    .landview1cb{
        display: none;
    }
    .landview1ca{
        width: 100%;
        height: 100%;
    }
}
@media (max-width:622px) {
    .headdown .bars {
        display: block;
        position: relative;
        top: 35px;
        left: 180px;
    }
    .dropdown{
        display: none;
    }
    .headup .divemail{
        display: none;
    }
    .headernav{
        display: none;
    }
    .favcartContainer{
        position: relative;
        right: 120px;
    }
    footer p{
        margin-left: 30px;
    }
}
@media (max-width:540px) {
    .headdown .bars {
        display: block;
        position: relative;
        top: 35px;
        left: 150px;
    }
    .headup .divemail{
        display: none;
    }
    .headernav{
        display: none;
    }
    .favcartContainer{
        position: relative;
        right: 130px;
    }
    footer p{
        margin-left: 30px;
    }
}
@media (max-width:470px) {
    .headdown .bars {
        display: block;
        position: relative;
        top: 35px;
        left: 110px;
    }
    .headup .divemail{
        display: none;
    }
    .headernav{
        display: none;
    }
    .favcartContainer{
        position: relative;
        right: 130px;
    }
    footer p{
        margin-left: 30px;
    }
}
@media (max-width:390px) {
    .headdown .bars {
        display: block;
        position: relative;
        top: 35px;
        left: 80px;
    }
    .landview1ca2 p{
        font-size: 14px;
    }
    .headup .divemail{
        display: none;
    }
    .headernav{
        display: none;
    }
    .favcartContainer{
        position: relative;
        right: 110px;
    }
    footer p{
        margin-left: 30px;
    }
    .cart{
        width: 350px;
        margin-left: 49.5px;
    }
}
